<kt-portlet>
	<kt-portlet-header [title]="'Manage Contact Us Content'" [class]="'card-head-lg'">
		<ng-container ktPortletTools>
			<!-- <a [routerLink]="['../../']" class="btn btn-secondary mr-2" mat-raised-button matTooltip="Back to the users list">
				<i class="la la-arrow-left"></i>
				<span class="hidden-mobile">Back</span>
			</a>
			<a href="javascript:;" class="btn btn-secondary mr-2" (click)="reset()" [disabled]="selectedTab !== 0" mat-raised-button matTooltip="Reset changes">
				<i class="la la-cog"></i>
				<span class="hidden-mobile">Reset</span>
			</a> -->
			<a href="javascript:;" class="btn btn-primary mr-2" color="primary"  mat-raised-button matTooltip="Save & Continue" style="background:#add45c" (click)="onSumbit()">
				<span class="hidden-mobile">Save</span>
			</a>
			<!-- <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item color="primary" (click)="onSumbit(true)">Save & Exit</button>
				<button mat-menu-item color="primary">Save & Duplicate</button>
				<button mat-menu-item color="primary" (click)="onSumbit(false)">Save & Continue</button>
			</mat-menu> -->
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group >
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Contact-us Info
				</ng-template>
				<ng-template matTabContent>
					<!--begin::Form-->
					<div>
						<form [formGroup]="userForm" class="form form-group-seperator-dashed">

							<!-- <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert> -->
						
								<div class="form-group row">
									<div class="col-lg-12 kt-margin-bottom-20-mobile">
										<span>Contact Description</span>
										<ejs-richtexteditor #toolsRTE  formControlName="description" [toolbarSettings]='tools' value=''></ejs-richtexteditor>
										<span *ngIf="userForm.controls.description.hasError('required') && userForm.controls.description.touched">
											<strong>Please enter description.</strong>
										</span>
									</div>
								</div>

								<div class="form-group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Enter Contact Number" formControlName="phone"/>
											<mat-error>Contact number is
												<strong>required</strong>
											</mat-error>
											<!-- <mat-hint align="start">Please enter
												<strong>Full Name</strong>
											</mat-hint> -->
										</mat-form-field>
									</div>
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Enter Email Address" formControlName="email"/>
											<mat-error>Email is
												<strong>required</strong>
											</mat-error>
											<!-- <mat-hint align="start">Please enter
												<strong>Full Name</strong>
											</mat-hint> -->
										</mat-form-field>
									</div>
									
								</div>

								<div class="form-group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Enter Address" formControlName="address"/>
											<mat-error>Address is
												<strong>required</strong>
											</mat-error>
											<!-- <mat-hint align="start">Please enter
												<strong>Full Name</strong>
											</mat-hint> -->
										</mat-form-field>
									</div>

									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Enter Facebook Url" formControlName="facebook"/>
											<mat-error>Facebook Url is
												<strong>required</strong>
											</mat-error>
											<!-- <mat-hint align="start">Please enter
												<strong>Full Name</strong>
											</mat-hint> -->
										</mat-form-field>
									</div>

									<!-- <div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Enter Skype ID" formControlName="skype"/>
											<mat-error>Skype ID is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div> -->
								</div>

								<!-- <div class="form-group row"> -->
									
									<!-- <div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Enter Twitter Url" formControlName="twitter"/>
											<mat-error>Twitter Url is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div> -->
									
								<!-- </div> -->
								<!-- <div class="form-group row"> -->
									<!-- <div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Enter Instagram Url" formControlName="instagram"/>
											<mat-error>Instagram Url is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div> -->

									<!-- <div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Enter Google Url" formControlName="google"/>
											<mat-error>Google Url is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div> -->
								<!-- </div> -->

<!-- 
								<div class="form-group row">
									<div class="col-lg-12 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Enter Pintrest Url" formControlName="pintrest"/>
											<mat-error>Pintrest Url is
												<strong>required</strong>
											</mat-error>
											
										</mat-form-field>
									</div>

									
								</div>
 -->
								<!-- <div class="form-group row"> -->
									<!-- <div class="col-lg-12 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Enter LinkedIn Url" formControlName="linkedin"/>
											<mat-error>LinkedIn Url is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div> -->

									
								<!-- </div> -->

								<!-- <div class="form-group row">
									<div class="col-lg-12 kt-margin-bottom-20-mobile">
										<span>Newsletter Description</span>
										<ejs-richtexteditor #toolsRTE  formControlName="news_description" [toolbarSettings]='tools' value=''></ejs-richtexteditor>
										<span *ngIf="userForm.controls.news_description.hasError('required') && userForm.controls.news_description.touched">
											<strong>Please enter newsletter description.</strong>
										</span>
									</div>
								</div> -->
							<!-- </div> -->
						</form>
					</div>
					<!--end::Form-->
				</ng-template>
			</mat-tab>
			<!-- <mat-tab [disabled]="!user || !user.id">
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-address-book"></i>
					User address
				</ng-template>
				<ng-template matTabContent>
					<kt-address [(addressSubject)]="addressSubject"></kt-address>
				</ng-template>
			</mat-tab>
			<mat-tab [disabled]="!user || !user.id">
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fab fa-facebook"></i>
					Social Nerworks
				</ng-template>
				<ng-template matTabContent>
					<kt-social-networks [(socialNetworksSubject)]="soicialNetworksSubject"></kt-social-networks>
				</ng-template>
			</mat-tab>
			<mat-tab *ngIf="user" [disabled]="!user || !user.id">
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-unlock"></i>
					User roles
				</ng-template>
				<ng-template matTabContent>
					<kt-user-roles-list [(rolesSubject)]="rolesSubject"></kt-user-roles-list>
				</ng-template>
			</mat-tab>
			<mat-tab *ngIf="user" [disabled]="!user || !user.id">
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-exchange-alt"></i>
					Change password
				</ng-template>
				<ng-template matTabContent>
					<kt-change-password [userId]="user.id"></kt-change-password>
				</ng-template>
			</mat-tab> -->
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>
