<kt-portlet>

	<!-- PORTLET LOADING | Binded to TABLE Datasource -->
	<!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
	<kt-portlet-header [title]="'Agent Inquiries'" [class]="'card-head-lg'" >
		<ng-container ktPortletTools>
			<!-- <button [routerLink]="['../users/add']" mat-raised-button color="primary" matTooltip="Create new User">New Agent</button> -->
			
			<!-- Buttons (Material Angular) | See off.documenations 'https://material.angular.io/components/button/overview' -->
			<!-- mat-raised-button | Rectangular contained button w/ elevation  -->
		</ng-container>
	</kt-portlet-header>
	<!-- end::Header -->

	<!-- start::Body (attribute: ktPortletBody) -->
	<kt-portlet-body>
		<div class="form kt-margin-b-30">
		<!-- SEARCH CODE BELOW -->
			<div class="form-filtration">
				<div class="row align-items-center">
					<div class="col-md-12 kt-margin-bottom-10-mobile">
						<mat-form-field class="mat-form-field-fluid" style='float:right;'>
							<input matInput placeholder="Search user" (keyup)="applyFilter($event.target.value)"  placeholder="Search">
							<mat-hint align="start">
								<strong>Search</strong> in all fields
							</mat-hint>
						</mat-form-field>
					</div>
				</div>
			</div>

			<div class="row align-items-center collapse form-group-actions kt-margin-top-20 kt-margin-bottom-20"
				[ngClass]="{'show' : selection.selected.length > 0}">
				<div class="col-xl-12">
					<div class="form-group form-group-inline">
						<div class="form-label form-label-no-wrap">
							<label class="font-bold font-danger-">
								<span translate="ECOMMERCE.COMMON.SELECTED_RECORDS_COUNT"></span> {{ selection.selected.length }}
							</label>
						</div>
						<div>
							<button (click)="fetchUsers()" mat-raised-button matTooltip="Fetch selected users"  class="mat-button-mt-4">
								<mat-icon>clear_all</mat-icon>
								Fetch Selected
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- end::GROUP ACTIONS -->
		</div>
		<!-- end::FILTERS & GROUP ACTIONS -->

		<!-- MATERIAL TABLE | Binded to datasources -->
		<!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
		<div class="mat-table__wrapper" style="margin:0 0 0 0">
			<mat-table [dataSource]="dataSource" matSort>

				<ng-container matColumnDef="select">
					<mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
						<mat-checkbox (change)="$event ? masterToggle() : null"
							[checked]="selection.hasValue() && isAllSelected()"
							[indeterminate]="selection.hasValue() && !isAllSelected()">
						</mat-checkbox>
					</mat-header-cell>
					<mat-cell *matCellDef="let row" class="mat-column-checkbox">
						<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
						</mat-checkbox>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="agent">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Agent Name</mat-header-cell>
					<mat-cell *matCellDef="let user">{{user.agent}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="agent_email">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Agent Email</mat-header-cell>
					<mat-cell *matCellDef="let user">{{user.agent_email}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="inquiry_user">
					<mat-header-cell *matHeaderCellDef  class="email-cell">Query User</mat-header-cell>
					<mat-cell *matCellDef="let user" class="email-cell">
						{{user?.inquiry_user}}
					</mat-cell>
				</ng-container>
			  	
			  	<ng-container matColumnDef="filtered_date">
				    <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
				    <mat-cell *matCellDef="let user"> {{user?.filtered_date  | date:"MM/dd/yyyy"}} </mat-cell>
			  	</ng-container>

				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
					<mat-cell *matCellDef="let user">
						<div class="lsiy-div" data-toggle="modal" data-target="#lifePopup" style="background:#add45c;color:#fff;padding:2px 10px;cursor:pointer;" (click)="viewEntry(content1, user)">
							View Details
						</div>						
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>
		</div>

		<!-- start: BOTTOM -->
		<div class="mat-table__bottom">
			<mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]"  [showFirstLastButtons]="true"></mat-paginator>
		</div>

		
		<!--------------------------------------------------------------->
		<!-- end: BOTTOM -->
	</kt-portlet-body>
	<!-- end::Body -->




</kt-portlet>


	<!-- MODAL FOR VIEW DETAIlS -->
	<!-- <div id="lifePopup" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title"></h4>
	        
	      </div>
	      <div class="modal-body">
	        

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>

	  </div>
	</div> -->

	<ng-template #content1 let-c="close" let-d="dismiss">
  	<div class="modal-header">
	    <h4 class="modal-title" id="modal-basic-title">Inquiry Details</h4>
	    <button type="button" class="close" aria-label="Close" (click)="close('Cross click')" style="border: 12px solid #c3c3c3!important;font-size: 13px;color: #000;display: inline-block;">
	      CLOSE
	    </button>
  	</div> 
  	<div class="modal-body" style='border:1px solid #a3cd49!important'>
	    <p><label>Agent Name </label>{{row?.agent}}</p>
        <p><label>Agent Email</label>{{row?.agent_email}}</p>
        <p><label>Inquiry User Name</label>{{row?.inquiry_data?.name}}</p>
        <p><label>Inquiry User Email</label>{{row?.inquiry_data?.email}}</p>
        <p><label>Subject</label>{{row?.inquiry_data?.subject}}</p>
        <p><label>Insurance Type</label>{{row?.inquiry_data?.insurance}}</p>
        <p><label>Message/Query</label>{{row?.inquiry_data?.message}}</p>
  	</div>
</ng-template>