<kt-portlet>
	<kt-portlet-body>
		<!-- <div  style="float:left;width:100%;">
			<h2 style=" font-size: 20px;padding: 0 0 11px 0; border-bottom: 1px solid #c4c4c4; margin: 0 0 20px 0; ">Agent Inquiries</h2>
		</div>
		<div class="mat-table__wrapper"> -->
			
		<!-- </div> -->

	</kt-portlet-body>
</kt-portlet>

<!-- Modal -->
	<!-- <div class="modal fade" id="lifePopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  	<div class="modal-dialog" role="document">
		    <div class="modal-content">
		      	<div class="modal-header">
		        	<h5 class="modal-title" id="exampleModalLabel">Send Contact request</h5>
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          	<span aria-hidden="true">&times;</span>
		        	</button>
		      	</div>
		      	<div class="modal-body">
		        	---
		      	</div>
		    </div>
	  	</div>
	</div>  -->
