textarea{
	height:150px;
}

strong{
	color:red;
}

.h2Head{
	margin: 0 0 20px 11px;border-bottom: 1px solid #999;padding: 0 0 7px 0;width: 97%;
}

.headHead{
	height: 30px;
    font-size: 15px;
    padding: 5px 5px;
}